<div class="panel panel-danger">
  <div class="panel-heading">
      Select Excel File with Nocalls to upload:
  </div>
  <!-- /.panel-heading -->
<form action="upload" method="post" enctype="multipart/form-data">
  <div class="panel-body">
    <div class='row'>
      <div class='col-lg-12'>
        <input type='file' name='fileToUpload' id='fileToUPload'>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-lg-12' style='margin-top:25px'>
        <input type="submit" class="btn btn-primary" value="Upload File">
      </div>
    </div>
    
  </div>
</form>
</div>



  
  
    
  
</form>